#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.a{
  width: 400px;
  height: 500px;
  background-image: url(/src/assets/gem.png);
  background-size: cover;
  background-position: center center;
  padding: 150px 200px;
  box-sizing: border-box;
  box-shadow: inset 0 0 70px 80px black;
}
.im {
  width: 400px;
  height: 500px;
  background-image: url(/src/assets/alok.jpg);
  background-size: cover;
  background-position: center center;
  padding: 150px 200px;
  box-sizing: border-box;
  box-shadow: inset 0 0 70px 80px black;
}
.ico{ 
  border-right: 2px solid black;


}
/* Slider.css */
.slider-container {
  position: relative;
  width: 100%; /* Adjust based on your preference */
  height: 400px;
  overflow: hidden;

  border-radius: 0px;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-images {
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth sliding effect */
}

.slider-item {
  min-width: 100%;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .skills-section {
  max-width: 500px;
  margin: auto;
}

.skill {
  margin-bottom: 18px;
}

.progress {
  background: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #61dafb, #3b82f6);
  border-radius: 10px;
  transition: width 1.4s ease-in-out;
} */
.skills-section {
  
  margin: auto;
}

.skill {
  margin-bottom: 20px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: 500;
}

.progress {
  background: #e5e7eb;
  height: 6px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #fd0202, rgb(240, 53, 53));
  border-radius: 10px;
  transition: width 1.3s ease-in-out;
}
